<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bubble.simpleword"
    android:versionCode="1"
    android:versionName="1.2.0.160228" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <!-- 显示顶层浮窗 -->
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomMainActionBarTheme"
         >
        <activity
            android:name="com.bubble.simpleword.activity.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.bubble.simpleword.activity.SearchResultsActivity" />
            
        </activity>
        
        <activity 
            android:parentActivityName=".activity.MainActivity"
            android:name="com.bubble.simpleword.activity.SearchResultsActivity"
            android:theme="@style/CustomSearchActivityActionBarTheme" 
            android:launchMode="singleTop" 
            android:screenOrientation="portrait">
		    <intent-filter>
		        <action android:name="android.intent.action.SEARCH" />
		    </intent-filter>
		    
            <meta-data 
                android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
		</activity>
        
        <receiver android:name="com.bubble.simpleword.broadcast.BroadcastReceiverPopNotiWord" >
        	<intent-filter>
            	<action android:name="com.bubble.simpleword.ACTION_BROADCAST_POP_NOTI_WORD" />
        	</intent-filter>
     	</receiver>
        <receiver android:name="com.bubble.simpleword.broadcast.BroadcastReceiverFloatWord" >
        	<intent-filter>
            	<action android:name="com.bubble.simpleword.ACTION_BROADCAST_FLOAT_WORD" />
        	</intent-filter>
     	</receiver>
        <receiver android:name="com.bubble.simpleword.broadcast.BroadcastReceiverUpdateWord" >
        	<intent-filter>
            	<action android:name="com.bubble.simpleword.ACTION_BROADCAST_UPDATE_WORD" />
        	</intent-filter>
     	</receiver>
        
        <service android:name="com.bubble.simpleword.service.ServicePopNotiWord" />
        <service android:name="com.bubble.simpleword.service.ServiceFloatWord" /> 
        <service android:name="com.bubble.simpleword.service.ServiceUpdateWord" />
            
    </application>

</manifest>
